
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #051D3B;
    font-family: 'Inter', sans-serif;
    color: var(--gray-gray-6, #666);
    padding: 32px;
}

header{
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header img{
    height: 100%;
}

header input{
    width: 752px;
    height: 100%;
    padding: 0px 14px;
    background-color: #2D415B;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.content{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content h3{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 4.8px;
    color: #fff;
}

nav li{
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: #fff;
    align-items: center;
    margin: 15px 0;
}

nav li span{
    width: 48px;
    height: 48px;
    border-radius: 16px;
    background: #5081FB;
    align-items: center;
    display: inherit;
    justify-content: center;
}

nav li a{ 
    text-decoration: none;
    color: #fff;
}

aside form{
    display: flex;
    flex-direction: column;
}

aside input, aside textarea, aside select{
    width: 272px;
    padding: 14px;
    background-color: #2D415B;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 15px 0;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
